api/massgov/pfml/fineos/leave_admin_creation/UserOIDSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Fineos returns part of its data with namespace and part of it without 
so a seperate schema is required -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ClassID" type="xs:string" />
  <xs:element name="IndexID" type="xs:string" />
  <xs:element name="Flags" type="xs:string" />
</xs:schema>
